# ignore all logs
certificates/account.conf
certificates/http.header
certificates/spec.nat.lestat.me/spec.nat.lestat.me.conf
certificates/test.lestat.me/test.lestat.me.conf
*.log
*.frm
*.ibd
*.ibd
*.opt
*.MYI
*.MYD
*.log
*.MYD
gitlab/
logs/
svn/svn/