# ignore all logs
certificates/account.conf
certificates/http.header
certificates/spec.nat.lestat.me/spec.nat.lestat.me.conf
certificates/test.lestat.me/test.lestat.me.conf
*.log
*.frm
*.ibd
*.ibd
*.opt
*.MYI
*.MYD
*.log
*.MYD
docker-subversion/
gitlab/
logs/
svn/svn/
logs/
mysql/
mysql/ib_buffer_pool
mysql/ib_logfile0
mysql/ibdata1
mysql/ibtmp1
